@model TestCase.Models.TestCaseShowModel
@using DynamicForms
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Test Case Form</title>
    <style>
        .Editor-Name {
            float:right;
        }

        .DynamicFormContainer {
            margin: 0 auto;
        }

        .DynamicFormContainer:before {
            display: block;
            content: "";
            clear: both;
            margin-top: 5em;
        }

    </style>
</head>
<body>
    @using (Html.BeginForm("TestCaseShow", "TestCase", FormMethod.Post, new { @id = "form" }))
    {
    <div>
        <div>
            <h1 style="text-align:center;"><strong>@Model.FormModel.FormTitle</strong></h1>
                @Html.HiddenFor(m => m.FormModel.FormTitle)
            <div style="float:left; margin-left: 1em;">
                @Html.HiddenFor(m => m.FormModel.Date)
                @Html.LabelForModel(Model.FormModel.Date)
            </div>
            <div class="Editor-Name">
                <b>Filled by:</b> @Html.LabelForModel(Model.Editor_Name)
                 @Html.TextBoxFor(m => m.Editor_Name)
            </div>
            <div class="DynamicFormContainer"></div>
        </div>
    </div>
    <div></div>
    <div style="float:left;">
        <input type="submit" value="Save" id="Save" />
        <input type="button" value="Cancel" />
    </div>
    }
    <span class="status-label" style="float:right">@Model.StatusLbl</span>
</body>
</html>
